{% extends 'base.html' %}

{% block content %}
<div id="d-flex flex-column" class="mt-4" style="padding-left: 225px;">
    <pre id="query" style="font-size: medium;"><code>{{ query_detail.query }}<br></code></pre>
    <div id="query-info-div">
        <div id="time-taken-div">
            <span class="numeric">{{query_detail.time_taken}}<span class="unit"> ms on query</span></span>
        </div>
    </div>
</div>


<div class="d-flex flex-column align-items-center justify-content-center gap-3 mt-3">
    <div class="card mt-2" style="width: 70%; border: 1px solid #ccc; border-radius: 10px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
        <div class="card-header" style="background-color: #f8f9fa; border-bottom: 1px solid #ccc; border-radius: 10px 10px 0 0;">
            Traceback
        </div>
        <div class="card-body">
            <pre style="white-space: pre-wrap; overflow-x: auto;">{{query_detail.traceback}}</pre>
        </div>
    </div>

</div>
{% endblock %}